# Xcode
.DS_Store
build/
DerivedData/
*.xccheckout
*.xcuserstate
*.moved-aside
*.xcscmblueprint

# Xcode workspace settings (user-specific)
xcuserdata/

# Secrets
LowkeyCinema/Config/Secrets.xcconfig

# Swift Package Manager
/.build/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Playground
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# Signing
*.p12
*.mobileprovision
